@import "~antd/dist/antd.css";

$primary-color: #56d48f;
$secondary-color: #4bd3ff;
$tertiary-color: #929292;
$bold-color: #272525;
$bg-color: #f4f7fa;
$divider-color: #f0f4f9;

body {
  background-color: $bg-color;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

.App {
  margin-left: 100px;
  margin-right: 100px;
}

.App-header {
  background-color: $bold-color;
  height: 70px;
  margin-bottom: 30px;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.App-title {
  font-size: 1.5em;
  color: $secondary-color;
}

.styled-filter-item {
  margin: 12px 0;
}

.styled-clear-filter-item,
.styled-sortby-item {
  cursor: pointer;
  color: $tertiary-color;
  text-align: right;
}

.styled-clear-filter-item:hover,
.styled-sortby-item:hover {
  color: $bold-color;
}

.styled-pay-rate-separator {
  font-weight: bold;
  padding: 0 10px;
}

.styled-select-filter {
  width: 100%;
}
