@import "~antd/dist/antd.css";

$primary-color: #56d48f;
$secondary-color: #4bd3ff;
$tertiary-color: #929292;

body {
  background-color: #f4f7fa;
  font-family: "Roboto", "Helvetica", "sans-serif";
}

.App {
  margin-left: 100px;
  margin-right: 100px;
}

.App-header {
  background-color: #222;
  height: 70px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.App-title {
  font-size: 1.5em;
  color: $secondary-color;
}

.row-margin {
  margin-bottom: 40px;
}

.search-text-shadow {
  // height: 60px;
  box-shadow: 0px 10px 22px -10px #8c8c8c;
}

.styled-divider {
  margin: 0px;
  height: 1.5px;
  color: #f0f4f9;
}

.styled-filter-item {
  margin: 12px 0;
}

.styled-clear-filter-item,
.styled-sortby-item {
  cursor: pointer;
  color: $tertiary-color;
  text-align: right;
}

.styled-clear-filter-item:hover,
.styled-sortby-item:hover {
  color: #434446;
}

.styled-job-info-item-payrate {
  text-align: right;
}

.styled-job-info-item-bolder {
  color: rgba(39, 37, 37, 0.85);
  font-weight: bold;
}

.styled-job-info-item-bold {
  font-weight: 500;
}

.styled-job-info-item-company-text {
  padding-left: 3px;
  padding-right: 8px;
}

.styled-job-info-item-company-primary-color {
  color: $primary-color;
}

.styled-job-info-item-company-secondary-color {
  color: $secondary-color;
}

.styled-job-info-item-company-description {
  color: $tertiary-color;
  font-weight: 500;
  margin-top: 20px;
}

.styled-pay-rate-separator {
  font-weight: bold;
  padding: 0 10px;
}

.styled-select-filter {
  width: 100%;
}

.styled-jobs-card {
  width: 100%;
  margin: 0 10px;
  padding: 5px 10px;
}

.styled-jobs-card-header {
  vertical-align: center;
}

.styled-job-info-item-header {
  margin: 30px 0;
}

.styled-job-info-item-title {
  margin-right: 10px;
  display: inline;
}

.styled-job-info-item-divider {
  height: 1.5px;
  color: #f0f4f9;
}
